.portfolio__container {
  @include container(1000px, 0);
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 90px;
}

.portfolio__title {
  margin-bottom: 50px;
}

.portfolio__list {
  flex-direction: column;
}

.portfolio__list-item:not(:last-child) {
  margin-bottom: 50px;
}

.portfolio__link {
  @include btn-anim;
  flex-direction: column;
  align-items: center;
}

.portfolio__image {
  width: 65%;
  margin-bottom: 30px;
}

.portfolio__link-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: $grey82;
  transition: color .2s ease-in-out;
}

.portfolio__link:hover .portfolio__link-title {
  color: $black07;
}
