<div id="contacts" class="contacts__container flex">
  <h2 class="section-title contacts__title">Контакты</h2>
  <p class="contacts__descr">
    Желаете узнать больше или сразу сделать оффер?
  </p>
  <ul class="contacts__list list-reset flex">
    <li class="contacts__list-item">
      <a href="mailto: alexander.korotckevitch@yandex.ru" class="contacts__link">
        alexander.korotckevitch@yandex.ru
      </a>
    </li>
    <li class="contacts__list-item">
      <a href="tel:+79279087871" class="contacts__link"> 8-927-908-78-71 </a>
    </li>
    <li class="contacts__list-item">
      <a href="https://github.com/Alexander-Korotckevich" class="contacts__link">Профиль GitHub</a>
    </li>
  </ul>
</div>
