.nav {
  @include container(1100px, 0);
}

.nav__list {
  padding: 30px 0;
  border-bottom: 1px solid $grey82;
  justify-content: space-between;
}

.nav__link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  color: $grey82;
  @include btn_anim;
  &:hover {
    color: $black07;
  }
}

.nav__link--black {
  color: $black07;
}

@media all and (max-width: 1200px) {
  .nav {
    @include container(1100px, 5%);
  }
}

@media all and (max-width: 800px) {
  .nav {
    position: fixed;
    opacity: 0;
    transform: translateX(-1000px);
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    transition: all .3s ease-in-out;
  }

  .nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  .nav__list {
    flex-direction: column;
  }

  .nav__list-item:not(:last-child) {
    margin-bottom: 50px;
  }

  .nav__link {
    font-size: 34px;
    line-height: 42px;
  }
}
