<section id="skills" class="section skills light-bg">
  <div class="skills__container flex">
    <h2 class="section-title skills__title">
      Навыки
    </h2>
    <p class="skills__descr">
      Имею опыт работы со следующими технологиями:
    </p>
    <ul class="list-reset skills__list flex">
      <li class="skills__list-item skills__list-item--html flex">
        <p class="skills__item-descr">
          HTML
        </p>
      </li>
      <li class="skills__list-item skills__list-item--css flex">
        <p class="skills__item-descr">
          CSS
        </p>
      </li>
      <li class="skills__list-item skills__list-item--js flex">
        <p class="skills__item-descr">
          JavaScript
        </p>
      </li>
      <li class="skills__list-item skills__list-item--vue flex">
        <p class="skills__item-descr">
          Vue
        </p>
      </li>
      <li class="skills__list-item skills__list-item--react flex">
        <p class="skills__item-descr">
          React
        </p>
      </li>
      <li class="skills__list-item skills__list-item--scss flex">
        <p class="skills__item-descr">
          SCSS
        </p>
      </li>
      <li class="skills__list-item skills__list-item--gulp flex">
        <p class="skills__item-descr">
          Gulp
        </p>
      </li>
      <li class="skills__list-item skills__list-item--ts flex">
        <p class="skills__item-descr">
          TypeScript
        </p>
      </li>
      <li class="skills__list-item skills__list-item--git flex">
        <p class="skills__item-descr">
          Git
        </p>
      </li>
      <li class="skills__list-item skills__list-item--figma flex">
        <p class="skills__item-descr">
          Figma
        </p>
      </li>
      <li class="skills__list-item skills__list-item--gsap flex">
        <p class="skills__item-descr">
          GSAP
        </p>
      </li>
    </ul>
  </div>
</section>